
a {
  color: #333333;
  text-decoration: inherit;
  position: relative;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: 0em;
  text-align: left;
}

body {
  margin: 0%;
  display: flex;
}


button {
  background-color: #333333;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 0%;
  padding: 1%;
  width: 20%;
  font-family: inherit;
  display: inline;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #333333; 
    background-color:#f5f5f5;
  }
}
